.synonyms {
    color: #01555a;
    font-size: 13px;
    font-weight: 500;
    margin-top: 30px;
    padding: 0;
}

.synonyms li {
    border: 1px solid #01555a;
    border-radius: 16px;
    display: inline-block;
    list-style-type: none;
    margin: 6px 4px;
    padding: 0 12px;
    text-transform: capitalize;
}